* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  
    /* background-color: #2a2525; */
  
  color: #212121;
  /* color: #fafafa; */
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}